<app-clock-background></app-clock-background>
<div
  class="d-flex custom-login-container"
  style="align-items: center; justify-content: center"
>
  <div
    class="card mx-auto login-container"
    style="max-width: 400px; width: 100%"
  >
    <div class="card-body">
      <h3 class="card-title text-center">
        @if (isLoginMode) { Login } @else { Register }
      </h3>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        @if (!isLoginMode) {
        <div class="form-group mb-3">
          <label for="firstName">First Name</label>
          <input
            id="firstName"
            type="string"
            class="form-control"
            formControlName="firstName"
            placeholder="Joan"
            [class.is-invalid]="
              authForm.get('firstName')?.invalid &&
              authForm.get('firstName')?.touched
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              authForm.get('firstName')?.invalid &&
              authForm.get('firstName')?.touched
            "
          >
            Please provide a valid name.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="lastName">Last Name</label>
          <input
            id="lastName"
            type="string"
            class="form-control"
            formControlName="lastName"
            placeholder="BobSmith"
            [class.is-invalid]="
              authForm.get('lastName')?.invalid &&
              authForm.get('lastName')?.touched
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              authForm.get('firstName')?.invalid &&
              authForm.get('firstName')?.touched
            "
          >
            Please provide a valid name.
          </div>
        </div>
        }
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="
              authForm.get('email')?.invalid && authForm.get('email')?.touched
            "
            [placeholder]="token ? 'We know this already!' : 'Enter your email'"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              authForm.get('email')?.invalid && authForm.get('email')?.touched
            "
          >
            Please provide a valid email.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="
              authForm.get('password')?.invalid &&
              authForm.get('password')?.touched
            "
            placeholder="Enter your password"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              authForm.get('password')?.invalid &&
              authForm.get('password')?.touched
            "
          >
            Password must be at least 8 characters.
          </div>
        </div>
        @if (!isLoginMode) {
        <div class="form-group mb-3">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            [class.is-invalid]="
              authForm.get('confirmPassword')?.invalid &&
              authForm.get('confirmPassword')?.touched
            "
            placeholder="Confirm your password"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              authForm.get('confirmPassword')?.invalid &&
              authForm.get('confirmPassword')?.touched
            "
          >
            Passwords must match.
          </div>
        </div>
        }
        <button
          type="submit"
          class="btn-custom success"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Login" : "Register" }}
        </button>
      </form>
      <p class="text-center mt-3">
        @if (isLoginMode) {
        <a [routerLink]="'/register'" class="link-primary"
          >Don't have an account? Register</a
        >
        } @else {
        <a [routerLink]="'/login'" class="link-primary"
          >Already have an account? Login</a
        >
        }
      </p>
    </div>
  </div>
</div>
