<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top custom-footer"
  >
    <p class="col-md-4 mb-0 ms-3 copyright">© 2024 HourMap, Ryan Snyder</p>

    <a>
      <svg
        class="navbar-compass-clock"
        viewBox="0 0 200 200"
        width="50"
        height="50"
      >
        <!-- Outer Circle -->
        <circle cx="100" cy="100" r="95" class="navbar-map-circle"></circle>

        <!-- Compass Rose -->
        <text x="100" y="30" text-anchor="middle" class="navbar-compass">
          N
        </text>
        <text x="170" y="105" text-anchor="middle" class="navbar-compass">
          E
        </text>
        <text x="100" y="190" text-anchor="middle" class="navbar-compass">
          S
        </text>
        <text x="30" y="105" text-anchor="middle" class="navbar-compass">
          W
        </text>

        <!-- Needle -->
        <polygon class="navbar-needle" points="100,30 95,100 105,100"></polygon>
      </svg>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav col-md-4 justify-content-end me-2">
      <!-- <li class="nav-item">
        <a href="#" class="nav-link px-2">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Contact Us</a>
      </li> -->
    </ul>
  </footer>
</div>
