.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 90%; /* Adjust for responsive design */
  height: auto !important; /* Prevent stretching */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 0rem 1rem 0rem 1.5rem;
}

.modal-body {
  padding: 0.5rem 1.5rem;
}

.modal-footer {
  padding: 0.75rem 1.5rem;
}
