<div class="modal-header justify-content-between">
  <h4 class="modal-title mt-3">Edit {{ workLocation.name }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="editLocationForm" (ngSubmit)="submit()">
    <div class="form-group mb-3">
      <label for="name">Location Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter location name"
      />
      <div
        *ngIf="
          editLocationForm.get('name')?.invalid &&
          editLocationForm.get('name')?.touched
        "
        class="text-danger"
      >
        Please enter a valid location name.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="address">Location Address</label>
      <input
        id="address"
        type="text"
        placeholder="Enter address (optional)"
        class="form-control"
        formControlName="address"
      />
    </div>
    <div class="form-group mb-3">
      <label for="city">City</label>
      <input
        id="city"
        type="text"
        placeholder="Enter city (optional)"
        class="form-control"
        formControlName="city"
      />
    </div>
    <div class="form-group mb-3">
      <label for="state">State</label>
      <input
        id="state"
        type="text"
        placeholder="Enter state (optional)"
        class="form-control"
        formControlName="state"
      />
    </div>
    <div class="form-group mb-3">
      <label for="description">Description</label>
      <input
        id="description"
        type="text"
        placeholder="Describe it here (optional)"
        class="form-control"
        formControlName="description"
      />
    </div>
  </form>
  <div class="modal-footer">
    <div>
      <button
        type="submit"
        class="btn-custom primary me-2"
        [disabled]="editLocationForm.invalid"
        (click)="submit()"
      >
        Save Changes
      </button>
      <button type="button" class="btn-custom danger" (click)="close()">
        Cancel
      </button>
    </div>
  </div>
</div>
