<div class="container mt-3">
  <nav class="navbar navbar-expand-sm navbar-dark nav-component">
    <div class="container">
      <a
        class="navbar-brand d-flex align-items-center"
        [routerLink]="navLink"
        routerLinkActive="active"
      >
        <svg
          class="navbar-compass-clock"
          viewBox="0 0 200 200"
          width="50"
          height="50"
        >
          <!-- Outer Circle -->
          <circle cx="100" cy="100" r="95" class="navbar-map-circle"></circle>

          <!-- Compass Rose -->
          <text x="100" y="30" text-anchor="middle" class="navbar-compass">
            N
          </text>
          <text x="170" y="105" text-anchor="middle" class="navbar-compass">
            E
          </text>
          <text x="100" y="190" text-anchor="middle" class="navbar-compass">
            S
          </text>
          <text x="30" y="105" text-anchor="middle" class="navbar-compass">
            W
          </text>

          <!-- Needle -->
          <polygon
            class="navbar-needle"
            points="100,30 95,100 105,100"
          ></polygon>
        </svg>
        <span class="ms-2">HourMap</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          @if (isManagerOrAdmin){
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="organization-dashboard"
              routerLinkActive="active"
              (click)="logLinkClick('organization-dashboard')"
              >My Organization</a
            >
          </li>
          } @if(isLoggedIn){
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/timeclock"
              routerLinkActive="active"
              >Timeclock</a
            >
          </li>
          } @if(isManagerOrAdmin){
          <li class="nav-item">
            <a class="nav-link" routerLink="/reports" routerLinkActive="active"
              >Reports</a
            >
          </li>
          }
        </ul>

        @if(isLoggedIn){
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Welcome, {{ userName }}!
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="userDropdown"
            >
              <li>
                <a class="dropdown-item" routerLink="/user-profile">Profile</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
            </ul>
          </li>
        </ul>
        }
      </div>
    </div>
  </nav>
</div>
