.nav-component {
  z-index: 1.5;
  background-color: #f25c54;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Compass Clock Styles for Navbar */
.navbar-compass-clock {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

.navbar-map-circle {
  stroke: #fff;
  stroke-width: 3;
}

.navbar-compass {
  font-size: 20px;
  fill: #fff;
}

.navbar .nav-link {
  font-size: 1rem;
}

.navbar .nav-link:hover {
  font-weight: bold;
  color: white;
}

.navbar .navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar .nav-link.router-link-active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-needle {
  fill: white;
  transform-origin: 100px 100px;
  transition: transform 0.2s ease;
}

.navbar-brand:hover .navbar-needle {
  animation: spin-needle 2s linear infinite;
}

/* Keyframes for Needle Rotation */
@keyframes spin-needle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar .navbar-brand:hover {
  opacity: 1;
  text-decoration: underline;
}
