<app-treasure-path-background></app-treasure-path-background>
<div class="timeclock-container container page-container mt-5">
  <div class="row">
    <!-- Left Side: Clock and Clock-In Form -->
    <div class="col-md-6 border-end">
      <div class="clock-section text-left">
        <h1 class="live-clock">{{ currentTime | date : "mediumTime" }}</h1>
        <p class="live-date">{{ currentTime | date : "fullDate" }}</p>
      </div>

      <!-- Clock-In Form -->
      <div class="clock-action-section mt-4">
        <h3 class="form-header">Clock In/Out</h3>
        <form [formGroup]="clockForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="location">Location</label>
            <select
              id="location"
              class="form-control"
              formControlName="location"
            >
              <option
                *ngFor="let location of locations"
                [value]="location.id"
                [disabled]="clockedIn"
              >
                {{ location.name }}
              </option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="project">Project</label>
            <select id="project" class="form-control" formControlName="project">
              <option
                *ngFor="let project of projects"
                [value]="project.id"
                [disabled]="clockedIn"
              >
                {{ project.name }}
              </option>
            </select>
          </div>

          <button
            type="submit"
            class="btn-custom success w-100 mt-3"
            [disabled]="!clockForm.valid"
          >
            {{ clockedIn ? "Clock Out" : "Clock In" }}
          </button>
        </form>
      </div>
    </div>

    <!-- Right Side: Time Entries Table -->
    <div class="col-md-6">
      <div class="time-entries-section">
        <h3 class="table-header">My Time Entries</h3>
        <div class="d-flex align-items-center justify-content-between">
          <select
            class="form-select me-2"
            style="width: 200px"
            [(ngModel)]="selectedTimeRange"
            (change)="updateDisplayedEntries()"
          >
            <option value="today">Today</option>
            <option value="payPeriod">Pay Period</option>
          </select>
          <span class="total-duration"
            >Total Duration: {{ totalDuration | number : "1.1-2" }} hours</span
          >
        </div>
        <div style="max-height: 300px; overflow-y: auto">
          <table
            class="table table-striped"
            style="width: 100%; border-collapse: collapse"
          >
            <thead
              style="
                position: sticky;
                top: 0;
                background-color: white;
                z-index: 1;
              "
            >
              <tr>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let entry of filteredTimeEntries"
                [class.incomplete]="!entry.clockOut"
              >
                <td>{{ entry.clockIn | date : "shortDate" }}</td>
                <td>
                  <span [matTooltip]="(entry.clockIn | date : 'medium') ?? ''">
                    {{ entry.clockIn | date : "mediumTime" }}
                  </span>
                </td>
                <td>
                  <span
                    *ngIf="entry.clockOut"
                    [matTooltip]="(entry.clockOut | date : 'medium') ?? ''"
                  >
                    {{ entry.clockOut | date : "mediumTime" }}
                  </span>
                  <span *ngIf="!entry.clockOut">N/A</span>
                </td>
                <td>{{ (entry.numDuration | number : "1.1-2") || "..." }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
