<app-clock-background></app-clock-background>
<div class="container bg-dark-hero text-white my-5">
  <div class="container text-center mb-5">
    <h1 class="display-4 fw-bold">Map Your Progress</h1>
    <p class="lead mb-4">
      Manage your employee's work hours, projects, and more—all in one place.
    </p>
    <a (click)="startMapping()" class="btn-custom danger btn-lg bold"
      >Start mapping!</a
    >
  </div>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h4 class="card-title">Track Time</h4>
          <p class="card-text">
            Easily clock in and out with real-time tracking.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h4 class="card-title">Manage Projects</h4>
          <p class="card-text">Create projects to track them by the hour.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h4 class="card-title">Generate Reports</h4>
          <p class="card-text">Gain insights with payrolls reports and more.</p>
        </div>
      </div>
    </div>
  </div>
</div>
