<div class="container mt-5">
  <h1>{{ organization.name }}</h1>
  <p>Manage your organization here!</p>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        data-bs-toggle="tab"
        data-bs-target="#users-tab"
        >Users</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#invitations-tab"
        >Invitations</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="users-tab">
      <div class="mt-3 mb-3">
        <button class="btn btn-primary btn-block" (click)="addUser()">
          Add User
        </button>
        <button
          class="btn btn-warning btn-block ms-2"
          [disabled]="!selectedUser"
          (click)="editUser()"
        >
          Edit User
        </button>
        <button
          class="btn btn-danger btn-block ms-2"
          [disabled]="!selectedUser"
          (click)="disableUser()"
        >
          Disable User
        </button>
      </div>

      <table
        class="table table-striped"
        *ngIf="organization?.users && organization.users.length > 0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of organization?.users"
            [class.table-primary]="selectedUser === user"
            (click)="selectUser(user)"
          >
            <td>{{ user?.firstName }} {{ user?.lastName }}</td>
            <td>{{ user?.email }}</td>
            <td>{{ user?.jobTitle }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="organization?.users?.length === 0">
        <p>No users yet. Add users to get started!</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="invitations-tab">
    <div
      *ngIf="
        invitations && invitations.length > 0;
        else noInvitations;
        else: noInvitations
      "
    >
      <div class="mt-3 mb-3">
        <button class="btn btn-primary btn-block" (click)="copyLink()">
          Copy Invite Link
        </button>
        <button
          class="btn btn-danger btn-block ms-2"
          [disabled]="!selectedInvitation"
          (click)="deleteInvite()"
        >
          Cancel Invite
        </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Email</th>
            <th>Token</th>
            <th>Expiration Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let invitation of invitations"
            [class.table-primary]="selectedInvitation === invitation"
            (click)="selectInvitation(invitation)"
          >
            <td>{{ invitation.email }}</td>
            <td>{{ invitation.token }}</td>
            <td>{{ invitation.expirationDate | date : "medium" }}</td>
            <td>Pending</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noInvitations>
      <p>No invitations yet. Send an invitation to get started!</p>
    </ng-template>
  </div>
</div>
