<div class="container mt-5">
  <h1>{{ organization.name }}</h1>
  <p>Manage your organization here!</p>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        data-bs-toggle="tab"
        data-bs-target="#users-tab"
        >Users</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#invitations-tab"
        >Invitations</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#projects-tab">
        Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" data-bs-target="#locations-tab">
        Locations
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <!--Users Tab-->
    <div class="tab-pane fade show active" id="users-tab">
      <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <!-- Left: Buttons -->
        <div>
          <button class="btn btn-primary btn-block" (click)="addUser()">
            Add User
          </button>
          <button
            class="btn btn-warning btn-block ms-2"
            [disabled]="!selectedUser"
            (click)="editUser()"
          >
            Edit User
          </button>
          <button
            class="btn btn-danger btn-block ms-2"
            [disabled]="!selectedUser"
            (click)="disableUser()"
          >
            Disable User
          </button>
        </div>
        <!-- Right: Search Box -->
        <div>
          <input
            type="text"
            class="form-control"
            placeholder="Search users..."
            [(ngModel)]="searchUsersQuery"
            (input)="filterUsers()"
            style="width: 300px"
          />
        </div>
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="enabledProjectsCheckbox"
          [(ngModel)]="showOnlyEnabledUsers"
          (change)="filterUsers()"
        />
        <label class="form-check-label" for="enabledProjectsCheckbox">
          Show Only Enabled Users
        </label>
      </div>
      <table
        class="table table-striped"
        *ngIf="filteredUsers && filteredUsers.length > 0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Job Title</th>
            <th>Permissions</th>
            <th>Sign-In Enabled</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of filteredUsers"
            [class.table-primary]="selectedUser === user"
            (click)="selectUser(user)"
          >
            <td>{{ user?.firstName }} {{ user?.lastName }}</td>
            <td>{{ user?.email }}</td>
            <td>{{ user?.jobTitle }}</td>
            <td>{{ user?.roles }}</td>
            <td>
              <span
                [class.text-success]="user.loginEnabled"
                [class.text-danger]="!user.loginEnabled"
                >{{ user?.loginEnabled }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="filteredUsers?.length === 0">
        <p>No users found. Please adjust your search.</p>
      </div>
    </div>

    <!--Invitations Tab-->
    <div class="tab-pane fade" id="invitations-tab">
      <div>
        <div
          class="d-flex justify-content-between align-items-center mt-3 mb-3"
        >
          <div>
            <button class="btn btn-primary btn-block" (click)="copyLink()">
              Copy Invite Link
            </button>
            <button
              class="btn btn-danger btn-block ms-2"
              [disabled]="!selectedInvitation"
              (click)="deleteInvite()"
            >
              Cancel Invite
            </button>
          </div>
          <!-- Right: Search Box -->
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Search invitations..."
              [(ngModel)]="searchInvitationsQuery"
              (input)="filterInvitations()"
              style="width: 300px"
            />
          </div>
        </div>
        <div
          *ngIf="
            invitations && invitations.length > 0;
            else noInvitations;
            else: noInvitations
          "
        >
          <table
            class="table table-striped"
            *ngIf="filteredInvitations && filteredInvitations.length > 0"
          >
            <thead>
              <tr>
                <th>Email</th>
                <th>Token</th>
                <th>Expiration Date</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let invitation of filteredInvitations"
                [class.table-primary]="selectedInvitation === invitation"
                (click)="selectInvitation(invitation)"
              >
                <td>{{ invitation.email }}</td>
                <td>{{ invitation.token }}</td>
                <td>{{ invitation.expirationDate | date : "medium" }}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="filteredInvitations?.length === 0 && !noInvitations">
            <p>No invitations found. Please adjust your search.</p>
          </div>
        </div>
        <ng-template #noInvitations>
          <p>No invitations yet. Send an invitation to get started!</p>
        </ng-template>
      </div>
    </div>

    <!--Projects Tab-->
    <div class="tab-pane fade" id="projects-tab">
      <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <div>
          <button class="btn btn-primary btn-block" (click)="addProject()">
            Add Project
          </button>
          <button
            class="btn btn-warning btn-block ms-2"
            [disabled]="!selectedProject"
            (click)="editProject()"
          >
            Edit Project
          </button>
          <button
            class="btn btn-success btn-block ms-2"
            [disabled]="!selectedProject"
            (click)="assignProject()"
          >
            Assign Project
          </button>
          <button
            [ngClass]="
              selectedProject?.enabled
                ? 'btn btn-danger btn-block ms-2'
                : 'btn btn-success btn-block ms-2'
            "
            [disabled]="!selectedProject"
            (click)="changeProjectStatus()"
          >
            {{
              selectedProject?.enabled ? " Disable Project" : "Enable Project"
            }}
          </button>
        </div>
        <div>
          <input
            type="text"
            class="form-control"
            placeholder="Search projects..."
            [(ngModel)]="searchProjectsQuery"
            (input)="filterProjects()"
            style="width: 300px"
          />
        </div>
      </div>
      <div class="form-check mb-3 mt-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="enabledProjectsCheckbox"
          [(ngModel)]="showOnlyEnabledProjects"
          (change)="filterProjects()"
        />
        <label class="form-check-label" for="enabledProjectsCheckbox">
          Show Only Enabled Projects
        </label>
      </div>
      <table
        class="table table-striped"
        *ngIf="filteredProjects && filteredProjects.length > 0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Enabled</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let project of filteredProjects"
            [class.table-primary]="selectedProject === project"
            (click)="selectProject(project)"
          >
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td [ngClass]="project.enabled ? 'text-success' : 'text-danger'">
              {{ project.enabled }}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="organization.projects.length === 0">
        <p>No projects yet. Add projects to get started!</p>
      </div>
      <div *ngIf="filteredProjects?.length === 0">
        <p>No projects found. Please adjust your search.</p>
      </div>
    </div>

    <!--Locations Tab-->
    <div class="tab-pane fade" id="locations-tab">
      <div class="mt-3 mb-3">
        <button class="btn btn-primary btn-block" (click)="addLocation()">
          Add Location
        </button>
        <button
          class="btn btn-warning btn-block ms-2"
          [disabled]="!selectedLocation"
          (click)="editLocation()"
        >
          Edit Location
        </button>
        <button
          class="btn btn-danger btn-block ms-2"
          [disabled]="!selectedLocation"
          (click)="deleteLocation()"
        >
          Delete Location
        </button>
      </div>
      <table
        class="table table-striped"
        *ngIf="organization?.locations && organization.locations.length > 0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let location of organization?.locations"
            [class.table-primary]="selectedLocation === location"
            (click)="selectLocation(location)"
          >
            <td>{{ location.name }}</td>
            <td>
              {{ location.address }}
            </td>
            <td>
              {{ location.city }}
            </td>
            <td>
              {{ location.state }}
            </td>
            <td>
              {{ location.description }}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="organization?.locations?.length === 0">
        <p>No locations yet. Add locations to get started!</p>
      </div>
    </div>
  </div>
</div>
